{% extends '_base.html' %}

{% block title %}Compras{% endblock title %}

{% block content %}
  {% for compra in object_list %}
    <div class="card">
      <div class="card-header">
        <span class="font-weight-bold">{{ compra.codigo }}</span> &middot;
        <span class="text-muted">by {{ compra.revendedor }} | {{ compra.data }}</span>
      </div>
      <div class="card-body">
        <div>Valor : {{ compra.valor }}</div>
        <div>Status: 
          {% if compra.status == "E" %}Em avaliação{% endif %}
          {% if compra.status == "A" %}Aprovado{% endif %}
        </div>
      </div>
      <div class="card-footer text-center text-muted">
        <a href="{% url 'compra_detalhe' compra.pk %}">Editar</a> | <a href="{% url 'compra_apagar' compra.pk %}">Apagar</a>
      </div>
    </div>
    <br />
  {% endfor %}
{% endblock content %}