{% extends '_base.html' %}

{% load mathfilters %}

{% block title %}Compras{% endblock title %}

{% block content %}
  <h3 class="m-4">Lista de compras</h3>
  {% for compra in object_list %}
    <div class="card">
      <div class="card-header">
        <span class="font-weight-bold">{{ compra.codigo }}</span> &middot;
        <span class="text-muted">by {{ compra.revendedor }} | {{ compra.data }}</span>
      </div>
      <div class="card-body">
        <div><b>Valor :</b> {{ compra.valor }}</div>
        <div><b>Status :</b> 
          {% if compra.status == "E" %}Em avaliação{% endif %}
          {% if compra.status == "A" %}Aprovado{% endif %}
        </div>
        <div><b>% de Cashback :</b>
          {% if compra.valor <= 1000 %}10%{% endif %}
          {% if 1000 < compra.valor and compra.valor <= 1500 %}15%{% endif %}
          {% if 1500 < compra.valor %}20%{% endif %}
        </div>
        <div><b>Valor de Cashback :</b>
          {% if compra.valor <= 1000 %}{{ compra.valor|mul:0.1 }}{% endif %}
          {% if 1000 < compra.valor and compra.valor <= 1500 %}{{ compra.valor|mul:0.15 }}{% endif %}
          {% if 1500 < compra.valor %}{{ compra.valor|mul:0.2 }}{% endif %}
        </div>
      </div>
      <div class="card-footer text-center text-muted">
        <a href="{% url 'compra_detalhe' compra.pk %}">Editar</a> | <a href="{% url 'compra_apagar' compra.pk %}">Apagar</a>
      </div>
    </div>
    <br />
  {% endfor %}
{% endblock content %}