{% extends '_base.html' %}

{% block title %}Inicio{% endblock title %}

{% block content %}
{% if user.is_authenticated %}
    <h3 style="text-align: right;" class="text-primary" ><em>Bem-vind@ {{user.first_name|title}}!</em> | CPF: {{ user.cpf }}</h3>
{% else %}
    <p class="h2 text-danger">Bem-vindo ao nosso site. Você não se encontra logado!</p>
    <!-- <a href="{% url 'login' %}">Entrar</a> |  -->
    <!-- <a href="{% url 'cadastro' %}">Cadastrar</a> -->
{% endif %}
{% endblock content %}